<!-- Footer partial for "LumberJack" -->
<!-- This file is rendered on every page. The corresponding page from /views/ will render above this file. Keep close tags as-is. 
     You will need to edit the EJS in the Curator section if you rename the "Media" page. -->

        <!-- l-content-wrapper close tag -->
        </div>
    <!-- l-body-wrapper close tag -->
    </div>

    <footer>
        
        <div id="share-menu" class="share-menu-pane">
            <div class="share-wrapper">
                <div class="sharethis-inline-share-buttons"></div>
            </div>
        </div>

        <div class="l-footer">
            <div class="l-footer-wrapper">

                <div id="footer-box1" class="l-box-third">
                    <div class="footer-social">
                        <button id="footer-share" type="button" onclick="footerShare()"></button>
                        <a href="https://www.facebook.com" target="_blank"><img style="border-radius: 17px;" src="../images/icons/facebook2.png"></a>
                        <a href="https://www.instagram.com/lumberjacktheme" target="_blank"><img src="../images/icons/instagram4.png"></a>
                    </div>
                </div>

                <div id="footer-box2" class="l-box-third">
                    <div class="footer-goodbye">
                        <% if ( pageTitle === "Contact" ) { %>
                        <h3 style="pointer-events: none;"><a class="link-impact" href="/contact">Let's get started!</a></h3>
                        <%} else { %>
                        <h3><a class="link-impact" href="/contact">Contact me here</a></h3>
                        <% } %>
                    </div>
                </div>

                <div id="footer-box3" class="l-box-third">
                    <div class="footer-attributions">
                        <p><a href="https://curator.io" target="_blank">Instagram API</a></p>
                        <p><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></p>
                        <p>Built on Node.js/Express/EJS</p>
                    </div>
                </div>

            </div>
        </div>

    </footer>

    <!-- Curator API and carousel -->
    <% if ( pageTitle === "Media" ) { %>

        <script type="text/javascript">
            (function () {
                var i, e, d = document, s = "script";
                i = d.createElement("script");
                i.async = 1;
                i.src = "https://cdn.curator.io/published/2a510c05-dd24-47a8-9642-aa18383a118c.js";
                e = d.getElementsByTagName(s)[0];
                e.parentNode.insertBefore(i, e);
            })();
        </script>
        <script src="/js/carousel.js" charset="utf-8"></script>

    <% } %>

    <script src="/js/index.js" charset="utf-8"></script>
    <script src="/js/mquery.js" charset="utf-8"></script>

</body>

</html>


<!-- END of document -->