<!-- Header partial for "Looseleashdog" -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="dog walking, leash skills, loose leash skills, looseleashdog, saco dog walking, biddeford dog walking, leash training" />
    <meta name="author" content="Rideout Web" />
    <meta name="copyright" content="2020" />
    <meta property="og:image" content="/images/rosie-share.jpg">
    <meta property="og:title" content="Blog and Leash Training Services">
    <meta property="og:description"
        content="Learn about your animal's leash skills or hire professional dog walking services.">
    <meta property="og:url" content="https://www.looseleashdog.com">
    <meta name="twitter:card" content="summary_large_image">
    <title><%=pageTitle%></title>
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/mquery.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Nunito:wght@300;600&display=swap" rel="stylesheet">

  
    <!-- ShareThis JS-->
    <script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=5fdcf5e7808aed0011dfaa1c&product=inline-share-buttons"
        async="async">
    </script>

    <!-- **LumberJack Instructions**  -->
    <!-- Replace "PASTE_YOUR_PROPERTY_ID_HERE" in the code below with your Product Id that you can find in your ShareThis account. Make sure you don't overwrite the "=" or the "&" that sit before and after. -->
    <!-- <script type="text/javascript"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=PASTE_YOUR_PROPERTY_ID_HERE&product=inline-share-buttons"
    async="async">
    </script> -->
    <!-- **END LumberJack Instructions**  -->

    <!-- END ShareThis JS-->

</head>

<body onload="shareIfBlog()">
    <% if ( pageTitle === "Home" ) { %>

    <div class="l-header l-home-header">
        <div class="l-header-wrapper l-home-header">
            <div class="logo-pane">
                <img class="logo-main" src="/images/logo-cap.png">
            </div>
        </div>
    </div>
    <div class="l-body-wrapper--home ">
        <div class="l-content-wrapper">

            <% } else { %>

            <div id="h-menu" class="h-menu-drop">
                <ul>
                    <a href="/technology">
                        <li id="technology" <% if (pageTitle === "Technology") { %> class="current" <% } %>>Tech</li>
                    </a>
                    <a href="/blog">
                        <li id="blog" <% if (pageTitle === "Blog" || pageTitle === "Blog Post") { %> class="current"
                            <% } %>>Blog</li>
                    </a>
                    <a href="/media">
                        <li id="media" <% if (pageTitle === "Media") { %> class="current" <% } %>>Media</li>
                    </a>
                    <a href="/contact">
                        <li id="contact" <% if (pageTitle === "Contact") { %> class="current" <% } %>>Contact</li>
                    </a>
                </ul>
            </div>

            <div class="l-header">
                <div class="l-header-wrapper">

                    <div class="smlogo-pane">
                        <a href="/"><img class="logo-sm" src="/images/logo-cap.png"></a>
                    </div>

                    <div class="navbar-pane">
                        <ul>
                            <a href="/technology">
                                <li id="technology" <% if (pageTitle === "Technology") { %> class="current" <% } %>>Tech
                                </li>
                                </li>
                            </a>
                            <a href="/blog">
                                <li id="blog" <% if (pageTitle === "Blog" || pageTitle === "Blog Post") { %>
                                    class="current" <% } %>>Blog</li>
                            </a>
                            <a href="/media">
                                <li id="media" <% if (pageTitle === "Media") { %> class="current" <% } %>>Media</li>
                            </a>
                            <a href="/contact">
                                <li id="contact" <% if (pageTitle === "Contact") { %> class="current" <% } %>>Contact
                                </li>
                            </a>
                        </ul>
                    </div>

                    <div class="h-menu-pane">
                        <input id="h-menu-input" type="checkbox" onclick="hamburger()">
                        <div id="h-box" class="h-menu-box">
                            <div class="h-menu-bars">
                                <div id="h-bar1" class="h-menu-bar"></div>
                                <div id="h-bar2" class="h-menu-bar"></div>
                                <div id="h-bar3" class="h-menu-bar"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <% if ( pageTitle === "Contact" ) { %>
                <div class="l-body-wrapper--contact">
                <div class="l-content-wrapper--contact">
            <%} else { %>
                <div class="l-body-wrapper">
                <div class="l-content-wrapper">
            <% } %>

        <% } %>


                            <!-- || END of document -->