<!-- Contact page for "LumberJack" -->

<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--contact">
    <h1>Contact Me</h1>
    <p>This is how your people can contact you. Behind the scenes is a secure email responder that you can 
        customize to say anything you want. If you're interested in contacting the developer of this theme 
        you can use the form below. Thanks&nbsp;for&nbsp;stopping&nbsp;by!
    </p>
</div>

<div class="card card--contact-form">
    <div class="contact-card-inner-wrap">

        <% if ( responseBool == true ) { %>

            <div id="hidden-response" class="hidden-response">
                <div class="response-box">
                    <% if ( isError == true ) { %>
                        <p>Ah bummer!</p>
                        <p>Looks like something went wrong.</p>
                        <p>I'm currently looking into the problem, try back soon!</p>
                        <button type="button" class="hidden-button" onclick="location.href='/blog'"/>Check out the Blog</button>
                    <% } else { %>
                        <p>Thanks!</p>
                        <p>Your message has been sent</p>
                        <p>I'm looking forward to talking with you, I will reach out within 2 or 3 business days.</p>
                        <button type="button" class="hidden-button" onclick="location.href='/blog'"/>Check out the Blog</button>
                    <% } %>
                </div>
            </div>

        <% } else { %>

            <form id="contact-form" class="contact-form" name="contact" method="post">

                <div class="contact-card-top-section">
                    <label class="form-title">Your Name:</label>
                    <input class="form-entry" type="text" name="user_name" oninput="formFieldCheck()">
                    <label class="form-title">Email:</label>
                    <input class="form-entry" type="email" name="user_email" oninput="formFieldCheck()">
                    <button id="contact-button" class="contact-submit" type="submit" onclick="sendingText()">Send</button>
                </div>

                <div class="contact-card-bottom-section">
                    <label class="form-title">Message:</label>
                    <textarea class="form-textarea" name="message" oninput="formFieldCheck()" autofocus></textarea>
                </div>

            </form>

        <% } %>

    </div>
</div>

<%- include("../views/partials/footer.ejs") -%>


<!-- END of document -->