<!-- Home page for "LumberJack" -->

<!-- ** LumberJack-Setup ** - Landing page menu links -->
<!-- You will need to change the href wrapping each link box to the corresponding page name -->

<%- include("../views/partials/header.ejs") -%>

<div class="card-pane--home">

    <div class="wrap-home-top">

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/technology"> 
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Technology</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Learn about Integrated API's and tech stack.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/blog">
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Blog</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Read guides on how to setup your new site.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

    </div>

    <div class="wrap-home-bottom">

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/media">
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Media</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Check out my feeds and learn about Curator.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/contact">
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Reach Out</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Contact me for more information or questions.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="l-divider divider-bottom margin-t-neg30"></div>

<div class="greeting-pane--home">
    <h1>Welcome!</h1>
    <img src="/images/mountain-scene-circle.png">
    <p> This is the landing page of your new site! It features large, clickable buttons for the initial menu and an
        integrated about page. It's no problem to switch out images and colors across the whole site, or to integrate
        your Prismic and Curator accounts. LumberJack uses NodeMailer, a secure email responder.
    </p>
</div>

<div class="l-divider divider-bottom"></div>

<div class="avatar-pane--home">
    <h2>My name is Jack.</h2>
    <img class="avatar-img" src="/images/avatar/lumberjack-standing.png">
</div>

<div class="l-divider divider-top"></div>

<div class="text-pane--home">
    <p> All third-party services offer free tiered accounts, and are also fully scalable to enterprise level. Take your
        business to the global market with this scalable and modular dynamically rendered theme. No need for a large
        overhead of code bloat you need to update. This is not a drag and drop template, you will need basic front-end
        development skills. However all of the backend API routing is done for you, all you need to do is set up your
        accounts with Prismic and Curator, and build your templates with Prismic and NodeMailer using the instructions
        laid out on the blog and within code files. 
    </p>
</div>

<%- include("../views/partials/footer.ejs") -%>


<!-- END of document -->