<!-- Photos page for "Looseleashdog" -->

<%- include("../views/partials/header.ejs") -%>

<div class="l-divider divider-top"></div>

<div class="greeting-pane--photos">
    <h1>Meet My Friends</h1>
    <p>I love taking pictures of my dog friends on our walks. These are from my Instagram feed. You can also find my
        Junior and Rosie. I think the dogs like it too, at least most of them anyway! I'm looking at you, Juniper!
    </p>
</div>

<div class="l-divider divider-bottom"></div>

<div id="curator-hover" class="carousel--curator">

    <div class="left-button-wrap">
        <div class="left-button-center">
            <button id="left-button" type="button" onclick="curatorLeft()"></button>
        </div>
    </div>

    <div id="curator-slider" class="viewport">
        <div class="inner-frame">
            <div id="curator-feed-wide-layout">
                <a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a>
            </div>
        </div>
    </div>

    <div class="right-button-wrap">
        <div class="right-button-center">
            <button id="right-button" type="button" onclick="curatorRight()"></button>
        </div>
    </div>

</div>

<div class="l-divider divider-top"></div>

<div class="text-pane--photos">
    <p>These are just some of my dog friends, you can check out all my posts on 
        <a href="https://www.instagram.com/looseleashdog/" target="__blank">my Instagram</a> page, or share on your
        favorite network with the buttons below. Do you like what you see? I have a trick for getting good pictures. 
        Read this quick blog post on <a href="/posts/Main-Post-Title">how to get your dog to pose for pictures</a>.
    </p>
</div>

<div class="whitespace-10"></div>

<%- include("../views/partials/footer.ejs") -%>


<!-- || END of document -->