<!-- Services page for "Looseleashdog" -->

<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--services">
    <div class="greeting-img--services">
        <img src="/images/hills15.png">
    </div>
    <div class="greeting-text--services">
        <h1>Services</h1>
        <p>Our loyal companions are happiest after physical and mental stimulation. Being outside and working on
            good behavior brings rewards back to your home.
        </p>
    </div>
</div>

<div class="l-divider divider-top"></div>

<div class="card-pane--services">

    <div class="card card--services-left">
        <div class="services-card-inner-wrap">
    
                <div class="services-card-top-section">
                    <h3>30 Minute Walk</h3>
                    <hr class="card-hr">
                </div>
    
                <div class="services-card-bottom-section">
                    <div class="card--services-innerleft">
                        <img class="dog-art" src="/images/1-dog-left.png"">
                        <h4 class="services-price">$15</h4>
                    </div>
                    <div class="card--services-innerright">
                        <img class="dog-art"  src="/images/2-dog-left.png"">
                        <h4 class="services-price">$25</h4>
                    </div>
                </div>
    
        </div>
    </div>
    
    <div class="card card--services-right">
        <div class="services-card-inner-wrap">
    
                <div class="services-card-top-section">
                    <h3>1 Hour Walk</h3>
                    <hr class="card-hr">
                </div>
    
                <div class="services-card-bottom-section">
                    <div class="card--services-innerleft">
                        <img class="dog-art" src="/images/1-dog-right.png"">
                        <h4 class="services-price">$25</h4>
                    </div>
                    <div class="card--services-innerright">
                        <img class="dog-art" src="/images/2-dog-right.png"">
                        <h4 class="services-price">$30</h4>
                    </div>
                </div>
    
        </div>
    </div>
   
</div>

<div class="l-divider divider-bottom margin-b-85"></div>

<div class="text-pane--services">
    <h2>Work as a Team</h2>
    <p>I work collaboratively with my clients to meet your goals of improved walking habits. Each
        dogs needs are different, sometimes within the same household! My goal is to improve the walking experience for
        both the dog and the owner. Everyone feels better with a loose leash. Waste bags and treats are included.
    </p>
</div>

<div class="margin-b-10"></div>

<%- include("../views/partials/footer.ejs") -%>


<!-- || END of document -->