<!-- Services page for "LumberJack" -->

<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--services">
    <div class="greeting-img--services">
        <img src="/images/mountain-scene.png">
    </div>
    <div class="greeting-text--services">
        <h1>Technology</h1>
        <p>LumberJack uses a Node runtime with Express/EJS for dynamic rendering. Third-Party API integrations make
            getting started easy.
        </p>
    </div>
</div>

<div class="l-divider divider-top"></div>

<div class="card-pane--services">

    <div class="card card--services-left">
        <div class="services-card-inner-wrap">

            <div class="services-card-top-section">
                <h3><a class="no-style" href="https://www.curator.io" target="_blank">Curator.io</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="services-card-bottom-section">
                <div class="card--media-center">
                    <img class="dog-art"  src="/images/icons/curator2.png"">
                    <h4 class="media-price">Multi-Network Aggregator</h4>
                </div>
            </div>

        </div>
    </div>

    <div class="card card--services-right">
        <div class="services-card-inner-wrap">

            <div class="services-card-top-section">
                <h3><a class="no-style" href="https://www.prismic.io" target="_blank">Prismic.io</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="services-card-bottom-section">
                <div class="card--media-center">
                    <img class="dog-art" src="/images/icons/prismic2.png"">
                    <h4 class="media-price">Headless<br>CMS</h4>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="l-divider divider-bottom margin-b-85"></div>

<div class="text-pane--services">
    <h2>Third-Party Heavy Lifting</h2>
    <p>Prismic and Curator are both enterprise level, fully scalable, independently maintained and secure content
        management systems that prevent LumberJack from needing frequent updates and security checks like a WYSIWYG.
        Outsource your labor, keep the core of your site simple and streamlined.
    </p>
    <p></p>
</div>

<div class="l-divider divider-top margin-t-85"></div>

<div class="card-pane--services">
    <div class="card card--services-left">
        <div class="services-card-inner-wrap">

            <div class="services-card-top-section">
                <h3><a class="no-style" href="https://www.ejs.co" target="_blank">Embedded JS</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="services-card-bottom-section">
                <div class="card--media-center">
                    <img class="dog-art" src="/images/icons/ejs.png"">
                    <h4 class="media-price">Dynamic<br>Content</h4>
                </div>
            </div>

        </div>
    </div>
    
    <div class="card card--services-right">
        <div class="services-card-inner-wrap">

            <div class="services-card-top-section">
                <h3><a class="no-style" href="https://nodemailer.com/about/" target="_blank">NodeMailer</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="services-card-bottom-section">
                <div class="card--media-center">
                    <img class="dog-art" src="/images/icons/nodemailer.png"">
                    <h4 class="media-price">Templated Responder</h4>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="l-divider divider-bottom margin-b-85"></div>

<div class="text-pane--services">
    <h2>Lightweight and Secure</h2>
    <p>No need for a large framework or code-bloat. LumberJack utilizes EJS for dynamically building and inserting
        content. Nodemailer is a secure email responder that doesn't require your email to be anywhere on the site.
    </p>
</div>

<div class="margin-b-10"></div>

<%- include("../views/partials/footer.ejs") -%>


<!-- END of document -->