<!-- Technology page for "LumberJack" -->

<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--tech">

    <div class="greeting-img--tech">
        <img src="/images/mountain-scene.png">
    </div>

    <div class="greeting-text--tech">
        <h1>Technology</h1>
        <p>LumberJack uses a Node runtime with Express/EJS for dynamic rendering. Third-Party API integrations make
            getting started easy.
        </p>
    </div>
    
</div>

<div class="l-divider divider-top"></div>

<div class="card-pane--tech">

    <div class="card card--tech-left">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://www.curator.io" target="_blank">Curator.io</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art"  src="/images/icons/curator2.png"">
                    <h4 class="card-lower-heading">Multi-Network Aggregator</h4>
                </div>
            </div>

        </div>
    </div>

    <div class="card card--tech-right">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://www.prismic.io" target="_blank">Prismic.io</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art" src="/images/icons/prismic2.png"">
                    <h4 class="card-lower-heading">Headless<br>CMS</h4>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="l-divider divider-bottom margin-b-85"></div>

<div class="text-pane--tech">
    <h2>Third-Party Heavy Lifting</h2>
    <p>LumberJack uses Prismic and Curator which are both enterprise-level, fully-scalable 
        content management systems that are independently maintained. LumberJack doesn't 
        need frequent updates and security checks like a drag-and-drop website 
        builder. Outsource your labor, keep the core of your site clean and streamlined. 
        <br><br>Both content systems are mobile friendly allowing you to update your 
        business content from anywhere, on any device. Take your content creation out 
        into the world.
    </p>
</div>

<div class="l-divider divider-top margin-t-85"></div>

<div class="card-pane--tech">
    <div class="card card--tech-left">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://www.ejs.co" target="_blank">Embedded JS</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art" src="/images/icons/ejs.png"">
                    <h4 class="card-lower-heading">Dynamic<br>Content</h4>
                </div>
            </div>

        </div>
    </div>
    
    <div class="card card--tech-right">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://nodemailer.com/about/" target="_blank">NodeMailer</a></h3>
                <hr class="card-hr-secondary">
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art" src="/images/icons/nodemailer.png"">
                    <h4 class="card-lower-heading">Templated Responder</h4>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="l-divider divider-bottom margin-b-85"></div>

<div class="text-pane--tech">
    <h2>Lightweight and Secure</h2>
    <p>With LumberJack, there's no need for a large framework and code-bloat. LumberJack 
        utilizes an Express server built in a Node runtime, and EJS to dynamically build 
        and render content. This keeps your page running quickly and smoothly during high 
        traffic and on content-heavy builds.<br><br>Nodemailer securely sends HTML 
        emails to as many addresses as you like. LumberJack comes setup to automatically 
        send you the user inquiry as well as a confirmation to the user. Any number of 
        automatic email responses can be setup for teams. Let LumberJack do the work for you.
    </p>
</div>

<div class="margin-b-10"></div>

<%- include("../views/partials/footer.ejs") -%>


<!-- END of document -->