/* || Base CSS file for "LumberJack" */

* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    font-family: var(--copy);
    font-weight: 300;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headers);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
}

h1, h2 {
    letter-spacing: 2px;
}

button:focus {
    outline: none;
}

.sharethis-inline-share-buttons {
    margin-bottom: 10px;
}


/* || END of document  */