/* || Media Query CSS file for "LumberJack" */

/* || Navbar  */

@media screen and (max-width: 390px) {

    .logo-sm {
        position: relative;
        top: 21px;
        transform: translateY(-50%);
        float: left;
        width: 85%;
    }

}

/* || Hamburger menu  */

@media screen and (max-width: 768px) {

    .navbar-pane {
        display: none;
    }

    .h-menu-pane {
        display: block;
    }

}

@media screen and (min-width: 769px) {

    .h-menu-drop {
        display: none;
    }

}

/* || Landing page  */

@media screen and (max-width: 812px) {

    .l-home-header {
        position: relative;
        height: auto;
        padding: 3px 0;
    }

    .logo-pane {
        height: auto;
        text-align: center;
    }

    .logo-main {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
    }

    @media screen and (max-width: 787px) {

        .wrap-home-bottom {
            bottom: 30px;
        }

        .card-pane--home {
            height: 316px;
        }

        .greeting-pane--home {
            padding: 30px 0 50px;
            text-align: center;
        }

        .greeting-pane--home img {
            bottom: -10px;
            display: none;
            margin-left: 0;
        }

        .greeting-pane--home p {
            bottom: -10px;
            max-width: 85%;
            margin: 0;
            text-align: left;
        }

        .text-pane--home p {
            max-width: 85%;
        }

        .avatar-pane--home h2 {
            position: absolute;
            top: 215px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 20px;
            margin: 0 auto;
        }

        .avatar-img {
            position: absolute;
            top: -23px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .text-pane--home {
            padding: 85px 0 20px 0;
        }

    }

    @media screen and (max-width: 479px) {

        .text-pane--home {
            padding: 120px 0 20px 0;
        }

    }


    @media screen and (max-width: 405px) {

        .greeting-pane--home p {
            max-width: 100%;
            padding: 0 15px 0 25px;
        }

        .text-pane--home p {
            max-width: 100%;
            padding: 0 15px 0 25px;
        }

        .card-pane--home {
            height: auto;
        }

        .card--home {
            margin: 4vw 4vw;
        }

        .wrap-home-top {
            margin-top: 10px;
        }

        .wrap-home-bottom {
            bottom: 10px;
            margin-bottom: -10px;
        }


        @media screen and (max-width: 365px) {

            .card-pane--home {
                height: auto;
            }

            .card--home {
                margin: 3vw 3vw;
            }

            .wrap-home-bottom {
                bottom: 10px;
                margin-bottom: -10px;
            }

        }

        @media screen and (max-width: 345px) {

            .card--home {
                width: 145px;
                height: 110px;
                margin: 3vw 2vw;
            }

            .home-card-top-section {
                top: 1px;
                width: 141px;
            }

            .link-box {
                width: 145px;
                height: 110px;
                margin: 0 auto;
            }

            .wrap-home-bottom {
                bottom: 0px;
                margin-bottom: 0px;
            }

        }

        @media screen and (max-width: 324px) {

            .card--home {
                width: 130px;
                height: 110px;
            }

            .home-card-top-section {
                top: 1px;
                right: -2px;
                width: 126px;
            }

            .link-box {
                width: 130px;
                height: 110px;
                padding: 0px;
                margin: 0 auto;
            }

            .greeting-pane--home h1 {
                font-size: 55px;
            }

        }

        @media screen and (max-width: 300px) {

            .card--home {
                width: 125px;
                height: 110px;
            }

            .home-card-top-section {
                top: 1px;
                right: -2px;
                width: 121px;
            }

            .link-box {
                width: 125px;
                height: 110px;
                padding: 0px;
                margin: 0 auto;
            }

            .greeting-pane--home p {
                font-size: 19px;
            }

            .text-pane--home p {
                font-size: 19px;
            }

        }

    }

}

/* Services Page  */

@media screen and (max-width: 740px) {

    .card--tech-right {
        margin-top: 25px;
    }

    .text-pane--tech p {
        padding-left: 25px;
    }

    @media screen and (max-width: 723px) {

        .text-pane--tech {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        @media screen and (max-width: 361px) {

            .greeting-pane--tech h1 {
                font-size: 13vw;
            }

            .text-pane--tech h2 {
                font-size: 10vw;
            }

            .card--tech-left {
                width: 280px;
                height: 266px;
                margin: 0 auto;
            }

            .card--tech-right {
                width: 280px;
                height: 266px;
                margin: 25px auto 0;
            }

            .tech-card-bottom-section {
                padding: 3px 0 14px;
            }

            @media screen and (max-width: 333px) {

                .greeting-text--tech {
                    top: 20px;
                }

            }

        }

    }

}

/* || Blog Main  */

@media screen and (max-width: 1018px) {

    .card--blog-main {
        width: 800px;
    }

    @media screen and (max-width: 889px) {
        .card--blog-main {
            width: 91%;
        }
    }

    @media screen and (max-width: 768px) {

        .greeting-pane--blog {
            padding: 0 15px 0 25px;
        }

        .card--blog-main {
            width: 300px;
            height: 488px;
        }

        .blog-card-inner-wrap {
            background: -moz-linear-gradient(to bottom, var(--secondary-light), transparent 5%), linear-gradient(to top, var(--secondary-light), var(--secondary-very-light) 3%);
            background: -webkit-linear-gradient(to bottom, var(--secondary-light), transparent 5%), linear-gradient(to top, var(--secondary-light), var(--secondary-very-light) 3%);
            background: -o-linear-gradient(to bottom, var(--secondary-light), transparent 5%), linear-gradient(to top, var(--secondary-light), var(--secondary-very-light) 3%);
            background: -ms-linear-gradient(to bottom, var(--secondary-light), transparent 5%), linear-gradient(to top, var(--secondary-light), var(--secondary-very-light) 3%);
            background: linear-gradient(to bottom, var(--secondary-light), transparent 5%), linear-gradient(to top, var(--secondary-light), var(--secondary-very-light) 3%);
        }

        .blog-card-right-section {
            width: 292px;
        }

        .intro-text-box {
            height: 231px;
        }

        .intro-text-box p:nth-child(2) {
            /* description */
            top: 66px;
            max-height: 154px;
        }

        .intro-text-box h2 {
            /* heading */
            top: 28px;
            font-size: 24px;
        }

        .intro-read-more {
            bottom: -55px;
            width: 300px;
            border-top-left-radius: 0;
        }

        .blog-card-left-section {
            border-right: 0;
            border-bottom: 1px solid var(--theme-lightblue-alt);
            border-bottom-left-radius: 0px;
        }

        @media screen and (max-width: 400px) {

            .greeting-pane--blog h1 {
                font-size: 15vw;
            }

            @media screen and (max-width: 310px) {

                .card--blog-main {
                    width: 280px;
                }

                .blog-card-left-section {
                    right: 10px;
                }

                .blog-card-right-section {
                    right: 10px;
                }

            }

        }

    }

}

/* Media Page  */

@media screen and (max-width: 1018px) {

    .carousel--curator {
        width: 691px;
    }

    .viewport {
        max-width: 620px;
    }

    @media screen and (max-width: 724px) {

        .card--media-right {
            margin-top: 25px;
        }

        @media screen and (max-width: 705px) {

            .carousel--curator {
                width: 381px;
            }

            .viewport {
                max-width: 310px;
            }

            .greeting-pane--media {
                padding: 0 15px 0 25px;
            }

            .text-pane--media {
                padding: 20px 15px 20px 25px;
            }

            .text-pane--media p {
                margin-left: 0;
            }

            @media screen and (max-width: 379px) {

                .l-content-wrapper {
                    overflow: hidden;
                }

                .left-button-center button {
                    float: left;
                    position: relative;
                    height: 50px;
                    width: 70px;
                    bottom: -321px;
                    left: 88px;
                    background-color: var(--primary-color);
                    background-position: center;
                    border-radius: 12px;
                }

                .left-button-center {
                    opacity: 1;
                }

                .right-button-center {
                    opacity: 1;
                }

                .right-button-center button {
                    float: right;
                    position: relative;
                    width: 70px;
                    bottom: -321px;
                    right: 84px;
                    height: 50px;
                    background-color: var(--primary-color);
                    background-position: center;
                    border-radius: 12px;
                }

                .carousel--curator {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .text-pane--media p {
                    margin-top: 50px;
                }

            }

        }

    }

}

/* || Blog Post  */

@media screen and (max-width: 1018px) {

    .post-main-img img {
        position: relative;
        top: -4px;
        width: 100vw;
    }

    .l-content-wrapper {
        overflow: hidden;
    }

    @media screen and (max-width: 662px) {

        .post-title {
            padding: 0;
        }

        .post-gallery {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 530px) {

            .post-gallery-img {
                margin: 0 auto 10px;
            }

            @media screen and (max-width: 450px) {

                .post-title h1 {
                    font-size: 11vw;
                }

            }

        }

    }

}

/* Contact Page  */

@media screen and (max-width: 600px) {

    .card--contact-form {
        width: 91%;
    }

    .contact-submit {
        height: 81px;
    }

    .contact-card-top-section input:nth-child(2) {
        width: calc(100% - 160px);
    }

    .greeting-pane--contact p {
        padding: 0 15px;
    }

    @media screen and (max-width: 421px) {

        .card--contact-form {
            height: 460px;
            margin-bottom: 0px;
        }

        .contact-card-top-section input:nth-child(2) {
            width: 100%;
        }

        .contact-card-top-section input:nth-child(4) {
            width: 100%;
        }

        .contact-submit {
            top: 389px;
            left: -4px;
            height: 67px;
            width: calc(100% + 8px);
            margin: 0 auto;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
        }

        .greeting-pane--contact h1 {
            margin-top: -13px;
        }

        @media screen and (max-width: 372px) {

            .greeting-img--contact img {
                height: 795px;
            }

            .greeting-pane--contact h1 {
                font-size: 15vw;
            }

            .greeting-pane--contact p {
                line-height: 1.4;
                padding: 0 15px;
            }

            @media screen and (max-width: 321px) {

                .greeting-pane--contact h1 {
                    margin-top: -18px;
                }

                .card--contact-form {
                    margin-top: 27px;
                }

                .h-menu-drop li {
                    margin: 0 7px;
                    font-size: 16px;
                }

            }

        }

    }

}

@media screen and (min-height: 954px) {

    .l-content-wrapper--contact {
        top: 0;
        height: calc(100vh - 186px);
    }

}

/* || Footer  */

@media screen and (max-width: 925px) {

    .l-footer {
        height: 205px;
    }

    .l-footer-wrapper {
        height: 205px;
        padding: 10px;
    }

    #footer-box1 {
        top: 72px;
        display: block;
    }

    #footer-box2 {
        bottom: 45px;
        display: block;
    }

    #footer-box3 {
        display: block;
        top: 32px;
    }

    @media screen and (max-width: 330px) {

        .l-box-third {
            width: 100%;
        }

        .footer-goodbye h3 a {
            font-size: 30px;
        }

    }

}


/* || END of document  */