/* || Blog Post CSS file for "LumberJack" */

/* || Main image and title section  */

.post-main-img {
    margin: 0px 0;
}

.post-title {
    padding: 0 50px;
    margin: 30px 0 20px;
    text-align: center;
}

.post-title h1 {
    font-size: 50px;
    padding: 0 15px 0 20px;
}

.post-meta {
    margin-top: 5px;
    text-align: center;
}

.post-meta p {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.post-date {
    display: inline-block;
}

/* || Text paragraph   */

.slice-paragraph {
    max-width: 650px;
    padding: 0 15px 0 25px;
    margin: 20px auto;
    text-align: left;
    font-size: 18px;
    line-height: 1.7;
}

.slice-paragraph ul {
    margin: 10px 50px 10px 30px;
    list-style: disc;
}

/* || H2 and container  */

.slice-heading {
    max-width: 650px;
    padding: 0 15px 0 25px;
    margin: 50px auto 20px;
    text-align: left;
}

.slice-heading h2 {
    font-size: 32px;
}

/* || H3 and container */

.slice-subheading {
    max-width: 650px;
    padding: 0 15px 0 25px;
    margin: 50px auto 20px;
    text-align: left;
}

.slice-subheading h3 {
    font-size: 26px;
}

/* || Highlighted link  */

.slice-link {
    max-width: 650px;
    padding: 10px 15px 0 25px;
    margin: 60px auto;
    text-align: center;
    font-size: 24px;
}

.slice-link p {
    max-width: 450px;
    padding-left: 25px;
    border-left: 10px solid;
    margin: 0 auto;
    line-height: 1.4;
}

/* || Highlighted quote  */

.slice-quote {
    position: relative;
    left: 25px;
    max-width: 650px;
    padding: 20px 15px 0 25px;
    border-left: 10px solid;
    margin: 60px auto;
    text-align: center;
}

.slice-quote p:nth-child(1) {
    position: relative;
    right: 25px;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 0.5px;   
}

.slice-quote p:nth-child(2) {
    position: relative;
    left: 25px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* || Image gallery */

.slice-gallery {
    padding: 20px 0px 13px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
}

.post-gallery {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.gallery-content-frame {
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

.post-gallery-img {
    max-width: 94vw;
    width: auto;
    border: 1px solid;
    margin: 0 15px 10px;
}

.post-gallery-caption {
    max-width: 250px;
    margin: 0 auto ;
    font-size: 17px;
    line-height: 1.2;
}

/* || Return to Blog button  */

.post-return {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 62px;
    margin: 30px 0 20px;
    border: 4px solid;
    font-size: 22px;
    font-weight: 700;
    font-family: var(--headers);
    cursor: pointer;
    letter-spacing: 1px;
}


/* || END of document */